graphic editor\
Vectory Editor Build\
Vectory Editor Build V2\
Графический редактор\
Графический редактор 8 V1\
Заполнение фигур\
Readme.txt
Высчитывание точки пересечения.pas
Высчитывание точки пересечения.pdb
Графический редактор 8 V1.zip
Деформация эллипса.txt
Рисование линии 1 + лишние точки в безье.txt